body {
    background-color: #232323;
}
h1 {
    color: #e8e9f2;
}
p {
    color: #ebe7f1;
    font-size: 150%;
}

a:link {
    color:green; 
    background-color:transparent; 
    text-decoration:none;
}

a:visited {
    color:pink;
    background-color:transparent;
    text-decoration:none;
}


a:hover {
    color:red;
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color:yellow;
    background-color:transparent;
    text-decoration:underline;
}

address {
    color: #e8e9f2;
}
