@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap");

body {
  background-color: #222;
  padding-top: 54px;
  color: #fff;
}
header {
  text-align: center;
}
h1 {
  font-family: "Inconsolata", monospace;
}

p {
  font-family: "Open Sans", sans-serif;
  margin: 16px 0px;
  font-size: 1.5vw;
}

a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5vw;
}

a:link {
  color: rgb(255, 35, 35);
}

a:visited {
  color: rgb(200, 30, 30);
}

main {
  text-align: center;
}

.sample {
  background: #1a1a1a;
  margin: 40px 4vw;
  padding: 25px;
  box-shadow: 3px 3px 3px #111;
}

.sampletitle {
  font-size: 2.5vw;
}

.responsive {
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.pagination {
  margin-bottom: 15px;
}
